# Exported functions
export(anova.JMbayes, aucJM, bma.combine, dynCJM, dgt, marglogLik, coef.JMbayes, dbs, dns, fixef.JMbayes, jointModelBayes, 
	ibs, ins, logLik.JMbayes, pgt, plot.JMbayes, plot.survfit.JMbayes, prederrJM, predict.JMbayes, ranef.JMbayes, rgt, 
	survfitJM, qgt, xtable.JMbayes)

# Imported functions
importFrom(nlme, fixed.effects)
importFrom(nlme, fixef)
importFrom(nlme, random.effects)
importFrom(nlme, ranef)
importFrom(stats, makepredictcall)
importFrom(survival, survfit)
importFrom(splines, ns)
importFrom(splines, bs)
importFrom(MASS, mvrnorm)
importFrom(MASS, glmmPQL)

# S3 methods
S3method(anova, JMbayes)
S3method(aucJM, JMbayes)
S3method(aucJM, coxph)
S3method(coef, JMbayes)
S3method(coef, summary.JMbayes)
S3method(confint, JMbayes)
S3method(dynCJM, JMbayes)
S3method(dynCJM, coxph)
S3method(fixef, JMbayes)
S3method(fitted, JMbayes)
S3method(logLik, JMbayes)
S3method(makepredictcall, dbs)
S3method(makepredictcall, dns)
S3method(makepredictcall, ibs)
S3method(makepredictcall, ins)
S3method(plot, JMbayes)
S3method(plot, survfit.JMbayes)
S3method(predict, JMbayes)
S3method(print, aucJM)
S3method(print, dynCJM)
S3method(print, JMbayes)
S3method(print, prederrJM)
S3method(print, summary.JMbayes)
S3method(print, survfit.JMbayes)
S3method(ranef, JMbayes)
S3method(residuals, JMbayes)
S3method(summary, JMbayes)
S3method(survfitJM, JMbayes)
S3method(prederrJM, JMbayes)
S3method(prederrJM, coxph)
S3method(vcov, JMbayes)
